.setting-info {
    text-align: center;
    white-space: nowrap;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

@mixin info-color($color: #888) {
    color: $color;
}

.setting-info__info-left {
    @include info-color();
    margin-left: 4px;
}

.setting-info__info-right {
    @include info-color();
    margin-right: 4px;
}
